name: basic-react-app-workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Download files
        uses: actions/checkout@v6
      - name: Install nodejs
        uses: actions/setup-node@v6
      - name: Move to code directory
        run: cd basic-react-app && ls
      - name: Install dependencies
        run: npm install
      - name: Run unit tests
        run: npm test