name: basic-react-app-workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: basic-react-app
    steps:
      - name: Download files
        uses: actions/checkout@v6
      - name: Install nodejs
        uses: actions/setup-node@v6
      - name: Install dependencies
        run: npm install
      - name: Run unit tests
        run: npm test
