name: my-first-workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello
        run: echo "Hello world!"
      - name: Print bye
        run: echo "Done, Good bye"
